* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: monospace;
}

body {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: hsl(149, 92%, 90%);
}

header,
main,
footer {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
}

p {
  max-width: 80%;
  min-width: 30%;
  margin: 0 auto;
}

strong {
  color: blue;
}

img {
  border-radius: 5px;
}
